:root {
  --danger: red;
  --colour-light-blue: lightcyan;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}

.border-temp {
  border: 1px solid var(--danger);
}
